
<div class="work-time-wrapper">
    <table class="table table-sm table-bordered work-time-table w-100">
        <tbody>
        <tr>
            <th title="Time period">Period</th>
            <th class="week-name-table" title="Sunday">{{ getDayFormat('Sunday') }}</th>
            <th class="week-name-table" title="Monday">{{ getDayFormat('Monday') }}</th>
            <th class="week-name-table" title="Tuesday">{{ getDayFormat('Tuesday') }}</th>
            <th class="week-name-table" title="Wednesday">{{ getDayFormat('Wednesday') }}</th>
            <th class="week-name-table" title="Thursday">{{ getDayFormat('Thursday') }}</th>
            <th class="week-name-table" title="Friday">{{ getDayFormat('Friday') }}</th>
            <th class="week-name-table" title="Saturday">{{ getDayFormat('Saturday') }}</th>
            <th [hidden]="readonly"></th>
        </tr>
        <tr [hidden]="intervals?.length">
            <td colspan="9"><em class="ml-1 text-muted">No time periods</em></td>
        </tr>
        <tr *ngFor="let i of intervals">
            <td class="period">{{i}}</td>
            <td *ngFor="let day of week" [ngClass]="{'intersection': checkDayIntervalIntersection(i, day)}"
                class="text-center">
                <i class="fa fa-check"
                   *ngIf="readonly && timeTable[i][day]"
                   aria-hidden="true">✔</i>
                <div class="form-check">
                    <input type="checkbox"
                        [hidden]="readonly"
                        (change)="changeTime()"
                        class="form-check-input"
                        [(ngModel)]="timeTable[i][day]">
                </div>

            </td>
            <td [hidden]="readonly">
                <button class="close" (click)="deleteInterval(i)">&times;</button>
            </td>
        </tr>
        </tbody>
    </table>


    <div class="text-danger" [hidden]="!checkSomeIntersection()">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Error! The time intersection.
    </div>

    <div [hidden]="checkSomeIntersection() || readonly">
        <button
                [hidden]="addFormView"
                type="button"
                class="btn btn-sm btn-link"
                (click)="addFormView = true">+ Add
        </button>

        <table class="w-100" [hidden]="!addFormView">
            <tbody>
            <tr>
                <td>
                    <div class="input-group input-group-sm">
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="startTime.h"
                               min="0"
                               max="24"
                               placeholder="10">
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="startTime.m"
                               min="0"
                               max="60"
                               placeholder="00">
                    </div>
                </td>
                <td>-</td>
                <td>
                    <div class="input-group input-group-sm">
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="endTime.h"
                               min="0"
                               max="24"
                               placeholder="18">
                        <input type="number"
                               class="form-control"
                               [(ngModel)]="endTime.m"
                               min="0"
                               max="60"
                               placeholder="00">
                    </div>
                </td>
                <td class="added-buttons">

                    <div class="btn-group btn-group-sm w-100" role="group">
                        <button type="button"
                                class="btn btn-outline-primary"
                                [disabled]="!isValidNewInterval()"
                                (click)="addInterval()">+ Add
                        </button>
                        <button type="button"
                                class="btn btn-secondary"
                                [disabled]="!isValidNewInterval()"
                                (click)="addFormView = false">&times;
                        </button>
                    </div>

                </td>
            </tr>

            </tbody>
        </table>

    </div>

</div>
